<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0" xmlns:posterous="http://posterous.com/help/rss/1.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:media="http://search.yahoo.com/mrss/">
  <channel>
    <title>Robert B. Allen's Pulse</title>
    <link>http://robert.allen.pulsememe.com</link>
    <description>Most recent posts at Robert B. Allen's Pulse</description>
    <generator>posterous.com</generator>
    <link type="application/json" rel="http://api.friendfeed.com/2008/03#sup" xmlns="http://www.w3.org/2005/Atom" href="http://posterous.com/api/sup_update#902231739"/>

    <atom:link rel="self" href="http://robert.allen.pulsememe.com/rss.xml"/>
    <atom:link rel="hub" href="http://posterous.superfeedr.com"/>
    <item>
      <pubDate>Thu, 12 Aug 2010 14:47:31 -0700</pubDate>
      <title>Don&#8217;t Build from Scratch. You Now Have an HTML5 Boilerplate to Work With</title>
      <link>http://robert.allen.pulsememe.com/dont-build-from-scratch-you-now-have-an-html5</link>
      <guid>http://robert.allen.pulsememe.com/dont-build-from-scratch-you-now-have-an-html5</guid>

      <description>
        <![CDATA[<p>
	via <a href="http://ajaxian.com"><i>Ajaxian » Front Page</i></a><p align="center"><a href="http://feedproxy.google.com/~r/ajaxian/~3/al8IGiDtoao/dont-build-from-scratch-you-now-have-an-html5-boilerplate-to-work-with"><img src="http://ajaxian.com/wp-content/images/html5boiler1.png" /></a></p>The HTML5 love continues to be doled out by Paul Irish. First, he offered up Modernizr and now, he’s teamed up with Divya ... <a href="http://feedproxy.google.com/~r/ajaxian/~3/al8IGiDtoao/dont-build-from-scratch-you-now-have-an-html5-boilerplate-to-work-with">Read More >></a>
	
</p>

<p><a href="http://robert.allen.pulsememe.com/dont-build-from-scratch-you-now-have-an-html5">Permalink</a> 

	| <a href="http://robert.allen.pulsememe.com/dont-build-from-scratch-you-now-have-an-html5#comment">Leave a comment&nbsp;&nbsp;&raquo;</a>

</p>]]>
      </description>
    </item>
  </channel>
</rss>
