<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:media="http://search.yahoo.com/mrss/">
  <channel>
    <title>robert's spring resources</title>
    <link>http://rallen.github.com/webdevlinks/</link>
    <description>various spring tutorials</description>
    <generator>by hand</generator>
    <atom:link rel="self" href="http://rallen.github.com/webdevlinks/spring.xml"/>
   
   <item>
      <pubDate>Thu, 12 Aug 2010 12:47:31 -0700</pubDate>
      <title>Spring 3 MVC – Introduction to Spring 3 MVC Framework</title>
      <link>http://viralpatel.net/blogs/2010/06/tutorial-spring-3-mvc-introduction-spring-mvc-framework.html</link>
      <guid isPermaLink="false">http://viralpatel.net/blogs/2010/06/tutorial-spring-3-mvc-introduction-spring-mvc-framework.html</guid>
      <description>
        <![CDATA[
             Part 1: Introduction to Spring 3.0 MVC framework
             Part 2: Create Hello World Application in Spring 3.0 MVC
             Part 3: Handling Forms in Spring 3.0 MVC
             Part 4: Spring 3 MVC Tiles Plugin Tutorial with Example in Eclipse
             Part 5: Spring 3 MVC Internationalization & Localization Tutorial with Example in Eclipse
             Part 6: Spring 3 MVC Themes in Spring-Tutorial with Example
        ]]>
      </description>
    </item>
    
         
    
  </channel>
</rss>
